@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"]{
  appearance: none;
  background:none;
  border: none;
  outline: none;
}

/* thead {display: table-row-group;}}
  tbody {margin-bottom: button 10px;} */

@media print {

  thead {
    display: table-row-group;
    padding-top: 20px;
  }

  /* table{
    border-collapse:collapse;
  }
  tr td{
    page-break-inside: avoid;
    white-space: nowrap;
  } */
 
}